body {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background: #333;
}

.container {
  display: grid;
  grid-template-columns: 14rem auto 14rem;
  width: 96%;
  gap: 1.8rem;
  margin: 0 auto;
}

:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #afacac;
  --clr-color-gray: #98a0a8cc;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

a {
  color: var(--clr-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4 rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8;
}

h5 {
  font-size: 0.77 rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--clr-info-dark);
}

p {
  color: var(--clr-dark-variant);
}

b {
  color: var(--clr-dark);
}

.primary {
  color: cvar(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-dark-variant);
}

.warning {
  color: var(--clr-warnig);
}

.gray {
  color: var(--clr-color-gray);
}

/*aside */
aside {
  height: 100vh;
}

aside .top {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
}

aside .top div.close {
  display: none;
}

/*sidebar*/
aside .sidebar {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  top: 1rem;
}

aside .h3 {
  font-weight: 400;
}

aside .sidebar a {
  display: flex;
  color: black;
  margin-left: 1.5rem;
  gap: 1rem;
  align-items: center;
  height: 3.2rem;
  transition: all 0.1s ease-in;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.1s ease-in;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--clr-light);
  color: var(--clr-primary);
  margin-left: 0;
  border-left: 5px solid var(--clr-primary);
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--clr-primary);
}

aside .sidebar a:hover {
  color: var(--clr-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
  transition: 0.4s ease;
}

aside .sidebar a span.msg_count {
  background: var(--clr-danger);
  color: var(--clr-white);
  padding: 2px 5px;
  font-size: 12px;
  border-radius: var(--border-radius-1);
}

/*menu*/

.right {
  margin-top: 1rem;
}

.right h2 {
  color: white;
}

.right .top {
  display: flex;
  justify-content: start;
  gap: 2 rem;
}

.right .top button {
  display: none;
}

.right .top .profile {
  display: flex;
  gap: 2 rem;
  text-align: center;
}

.right .Info h3 {
  color: var(--clr-dark-variant);
}

.right .item h3 {
  color: var(--clr-dark-variant);
}

/* recent update*/
.right .recent_update {
  margin-top: 1rem;
  margin-left: -20px;
}
.right .recent_update .Updates {
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.right .recent_update .Updates .Updates:hover {
  box-shadow: none;
}

.right .recent_update .Update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*sales analytics*/

.right .sales_analytics {
  margin-top: 2rem;
}

.right .sales_analytics .item {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1;
  margin: 10px 0;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
}

.right .sales_analytics .item:hover {
  box-shadow: none;
}

.right .sales_analytics .Item_online .icon {
  background-color: coral;
  padding: 0.6em;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  align-items: center;
}
.right .sales_analytics .Item_online:nth-child(3) .icon {
  background-color: var(--clr-success);
}

.right .sales_analytics .Item_online:nth-child(4) .icon {
  background-color: var(--clr-danger);
}

.right .sales_analytics .Item_online .right {
  margin-left: 15px;
  display: flex;
}

/*add-product*/

.add-product-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.8rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  width: 95%;
  margin: 1.3rem;
}

.add-product-container label {
  font-size: 0.87rem;
  color: #363949;
}

.add-product-container input[type="text"],
.add-product-container textarea {
  padding: 1.2rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.87rem;
}

.add-product-container input[type="number"] {
  padding: 1.2rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.87rem;
}

.add-product-container input[type="file"] {
  padding: 1.2rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.87rem;
}

.add-product-container .btn {
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 0.87rem;
}

.add-product-container .sell-btn {
  background-color: #7380ec;
  color: #fff;
}

.add-product-container .cancel-btn {
  background-color: #ccc;
  color: #333;
}

.add-product-container .sell-btn:hover {
  background-color: #111e88;
}

.add-product-container .cancel-btn:hover {
  background-color: #aaa;
}
