:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #afacac;
  --clr-color-gray: #98a0a8cc;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

body {
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(assets/BGM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4 rem;
}

h3 {
  font-size: 0.81rem;
}

h4 {
  font-size: 0.8;
}

h5 {
  font-size: 0.77 rem;
}

small {
  font-size: 0.75rem;
}

nav {
  background-color: #0b0b45;
  box-shadow: 0 1rem 1rem rgb(0, g0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: wheat;
}

nav li .logo {
  margin-right: 30px; /* Reduce spacing between logo and navmenu */
  height: 90px;
}

.logo img {
  width: 10rem;
  height: 5rem;
}

.profile-photo img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  overflow: hidden;
}

nav .profile {
  margin-left: auto; /* Pushes profile section to the right */
  display: flex;
  gap: 3rem;
  text-align: left;
}

nav a {
  height: 100px;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(253, 240, 240);
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

nav li:first-child {
  margin-right: auto;
}



/* Dropdown Styling */
.dropdown-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.dropdown-content {
  display: none; /* Hidden by default */
  flex-direction: column;
  padding-left: 20px;
  margin-top: 5px;
  max-height: 0; /* Set max-height to 0 for smooth collapsing */
  overflow: hidden; /* Hide overflow */
  transition: max-height 0.3s ease; 
}

.dropdown-content.show {
  display: flex; /* Display the dropdown content */
  max-height: 300px; /* Set a max-height to allow for expansion */
}


.dropdown-content li {
  margin: 8px 0;
}

.dropdown-content li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.dropdown .show {
  display: flex;
}

.dropdown-arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

/* Arrow Rotation */
.rotate {
  transform: rotate(180deg);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background-color: rgba(45, 19, 116, 0.274);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden; /* Prevent overflow when collapsing */
  transition: height 0.3s ease; 
  overflow-y: auto;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow sidebar menu to grow */
  overflow-y: auto;
}

/* Optional: Style the scrollbar (for Webkit browsers) */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  color: white;
  margin-left: 0.5rem;
  gap: 0.2rem;
  height: 3rem;
  transition: all 0.1s ease-in;
}

.sidebar a.active {
  background: var(--clr-primary-variant);
  color: var(--clr-dark-variant);
  margin-left: 0;
  border-left: 5px solid var(--clr-primary);
}

.sidebar a:hover {
  color: rgba(255, 255, 255, 0.336);
}

.sidebar a:hover span {
  margin-right: 1rem;
  transition: 0.4s ease;
}

.sidebar a span.msg_count {
  background: var(--clr-danger);
  color: var(--clr-white);
  padding: 2px 5px;
  font-size: 12px;
  border-radius: var(--border-radius-1);
}

.section {
  margin-left: 150px;
  gap: 2rem;
  padding: 2rem;
  display: none; /* Hide all sections by default */
}

.section.active {
  display: block; /* Show the active section */
}

.dash {
  margin-left: 150px;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  color: whitesmoke;
}

.visible {
  display: block; /* Show the active section */
}

/*SECTION*/

.section {
  display: none;
}

/* Show the section when the 'visible' class is added */
.visible {
  display: block;
}
/* Orders section*/

#orders-section {
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;
}

#orders-section h2 {
  margin-bottom: 1.5rem;
  color: #363949;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

#orders-section table {
  width: 100%;
  margin-bottom: 1.5rem;
  color: #363949;
  font-weight: bold;
  font-size: 1rem;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  text-align: center;
}

#orders-section table tbody{
  font-size: 0.8rem;
}

#orders-section table tbody td {
  text-align: center; /* Center-align all cells in tbody */
  vertical-align: middle; /* Vertically center content */
}



#orders-section input[type="text"],
#orders-section input[type="number"],
#orders-section select
{
  padding: 1rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  width: 90%;
  margin-bottom: 0.7rem;
}


#orders-section input[type="text"]{
  padding: 1rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  width: 80%;
  margin-bottom: 0.7rem;
}

#orders-section .update-btn{
   background-color: #141520;
  color: #fff;
  transition: background-color 0.3s;
  padding: 0.5rem;
  width: 100%;
  margin: 7  auto; /* Center the button horizontally within the cell */
  display: block;
}
/*customer section*/ 
#customers-section {
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;
}

/*view product section*/ 

#view-product-section{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;
}

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 220px;
  margin: 8px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.all-products{ 
  display: flex;
  flex-direction: row; /* Align product cards in a row */
  flex-wrap: wrap; /* Wrap cards to the next line if needed */
}


.edit-product-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.form-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* add-product section*/



#add-product-section {
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;
}

#add-product-section h2 {
  margin-bottom: 1.5rem;
  color: #363949;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#add-product-section label {
  font-size: 0.87rem;
  color: #363949;
  font-weight: 600;
  gap: 2;
  margin-top: 10px;
}

/* Add spacing between the checkbox and label */
.form-group-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
}

#add-product-section input[type="checkbox"] {
  width: 1rem;
  height: auto;
}

#add-product-section input[type="text"],
#add-product-section input[type="number"],
#add-product-section textarea,
#add-product-section input[type="file"] {
  padding: 1rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  width: auto;
  margin-bottom: 0.7rem;
}

#add-product-section input[type="number"] {
  padding: 1.2rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.87rem;
}

#add-product-section input[type="file"] {
  padding: 1.2rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.87rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 1.5rem;
}

#add-product-section .sell-btn {
  background-color: #141520;
  color: #fff;
  transition: background-color 0.3s;
}

#add-product-section .cancel-btn {
  background-color: #ccc;
  color: #333;
  transition: background-color 0.3s;
}

/* Button Hover Effects */

#add-product-section .sell-btn:hover {
  background-color: black;
}

#add-product-section .cancel-btn:hover {
  background-color: #aaa;
}

.footer {
  background: #0b0b45;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 10px;
}

.btn {
  padding: 10px;
  margin-top: 10px;
}

.sell-btn {
  background-color: green;
  color: white;
}

.cancel-btn {
  background-color: red;
  color: white;
}

/* Add flexbox to align product name and price in one row */
.form-group-row {
  display: flex;
  gap: 2rem; /* Spacing between the two inputs */
  align-items: flex-start;
  width: 100%; /* Make the row stretch fully */
}

.form-group-row .form-group {
  flex: 1; /* Ensure each form group takes equal space */
  display: flex;
  flex-direction: column; /* Align label and input vertically */
}

/* Ensure consistent input width */

/* Checkbox alignment */
.form-group-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Adjust checkbox size */
#add-product-section input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.profile-photo {
  cursor: pointer;
}

/* auction section */

#auction-section {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;

}

#auction-section h2 {
  color: whitesmoke;
}

.ongoing-bids {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;

}

.bid-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 220px;
  margin: 8px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;

}

.auction-list{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.plus-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 1px;
  background-color: #0b0b45;
  color: white;
  border-radius: 20%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

#add-bid-form {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 1rem;
  gap: 2rem;
  padding: 2rem;
}

.add-bid {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  max-width: 1000px;
  margin: 1rem auto;
  gap: 1rem;
  padding: 1rem;
}




#auction-section  h3{
  text-align: center;
  font-size: 1rem;
}

#auction-section label{ 
  font-size: 0.87rem;
  color: #363949;
  font-weight: 600;
  gap: 2;
  margin-top: 10px;
}

#auction-section input[type="text"],
#auction-section input[type="number"] {
  width: auto; /* Make inputs fill their containers */
  padding: 1rem;
  border: 1px solid #dce1eb;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  box-sizing: border-box; /* Prevent padding from affecting width */
}


#auction-section .form-group{
  flex: 1; /* Ensure each form group takes equal space */
  display: flex;
  flex-direction: column; /

}






#dashboard-section h2 {
  color: var(--clr-dark-variant);
}

#dashboard-section h3 {
 font-size: 1.1rem;
}

#dashboard-section {
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 2rem;
  color: white;

}

#dashboard-section a{
  text-decoration: none;
}


#dashboard-section .recent_update{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 2rem;
  color: black;
}


#dashboard-section .form {
  max-width: 1000px;
  margin-top: 1rem;
}

  
#dashboard-section .all_products{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 1rem;
  color: black;
}

#dashboard-section .all_bidding{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 1rem;
  color: black;
}


#dashboard-section .all_messages{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  margin-top: 1rem;
  color: black;
}

#dashboard-section .all_messages .chat-list{
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;
  border-right: 1px solid #ccc;
  height: 100px;
  max-width: 2000px;

}
/* chat section */

#message-section h2 {
  color:  rgb(17, 8, 43);
  gap: 1rem;
  padding: 1rem;
}



.chat-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  max-width: 500px;
  background-color: rgba(45, 19, 116, 0.274);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  gap: 1rem;
  max-width: 900px;
  margin: 2rem auto;
  margin-top: 1rem;


}

.chat-list {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  height: 400px;
  max-width: 2000px;
  height: 80vh;

}

.chat-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-list-item:hover {
  background-color: #e0e0e0;
}

.chat-box {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  max-width: 500px;
  
}

.chat-box .messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-box .message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.sent {
  background-color: #daf5db;
  align-self: flex-end;
}

.received {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.message-input {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #201e1f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #c98585;
}

/* Media query: Adjust layout for smaller screens */
@media (max-width: 768px) {
  .form-group-row {
    flex-direction: column; /* Stack inputs vertically on smaller screens */
    gap: 1rem;
  }
}
