.add-product-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 1.8rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    width: 100%;
    margin: 0 auto;
  }
  
  .add-product-container label {
    font-size: 0.87rem;
    color: #363949;
  }
  
  .add-product-container input[type="text"], .add-product-container textarea {
    padding: 1.2rem;
    border: 1px solid #dce1eb;
    border-radius: 0.4rem;
    font-size: 0.87rem;
  }
  
  .add-product-container input[type="number"] {
    padding: 1.2rem;
    border: 1px solid #dce1eb;
    border-radius: 0.4rem;
    font-size: 0.87rem;
  }
  
  .add-product-container input[type="file"] {
    padding: 1.2rem;
    border: 1px solid #dce1eb;
    border-radius: 0.4rem;
    font-size: 0.87rem;
  }
  
  .add-product-container .btn {
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 0.87rem;
  }
  
  .add-product-container .sell-btn {
    background-color: #7380ec;
    color: #fff;
  }
  
  .add-product-container .cancel-btn {
    background-color: #ccc;
    color: #333;
  }
  
  .add-product-container .sell-btn:hover {
    background-color: #111e88;
  }
  
  .add-product-container .cancel-btn:hover {
    background-color: #aaa;
  }