* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

.profile-container {
    width: 750px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
}

.profile-container h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.profile-form {
    flex: 2;
}

.profile-form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"],
.profile-form input[id="address"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.profile-form input:focus {
    border-color: #4CAF50;
}

.save-button-container {
    text-align: right;
    margin-top: 20px;
}

.save-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #45a049;
}

.profile-pic-save-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-pic-container {
    width: 190px;
    background-color: #fff;
    padding: 15px;
    border: 1px dashed #ddd;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.user-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#file {
    display: none;
}

#uploadbtn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    background-color: rgba(173, 172, 172, 0.8);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin-right: 45px;
}
