.product-price, .modal-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
 }
 
 /* Modal styles */
 .modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
 }
 
 .modal-content {
    background-color: #fff;
    height: 410px;
    width: 800px; /* Adjusted width */
    max-width: 800px; /* Smaller max width */
    display: flex;
    border-radius: 12px;
    position: relative;
 }
 
 /* Success Message Styling */
.success-message {
   display: none;
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #28a745; /* Green background for success */
   color: #fff;
   padding: 15px 20px;
   border-radius: 8px;
   font-size: 1em;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   z-index: 20;
}
 
 .modal-body {
    display: flex;
 }
 
 .modal-image img {
    width: 710px;
    height: 380px;
    max-width: 100%; /* Ensures it adapts if the screen is smaller */
    max-height: 100%; /* Prevents overflow */
    margin-top: 15px;
    border-radius: 12px 0 0 12px;
    margin-left: 10px;
 }
 .modal-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
 }
 
 .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
 }
 
 /* Styling for the Bid Input Field */
 .bid-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
 }
 
 .peso-sign {
    padding: 10px;
    background-color: #f8f8f8;
    font-size: 1em;
    color: #444;
 }
 
 .bid-input {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: none;
    outline: none;
 }
 
 /* Bid Button with Red Color */
 .bid-btn {
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #dc3545; /* Red color */
    color: #fff;
    transition: background-color 0.3s;
 }
 
 .bid-btn:hover {
    background-color: #c82333; /* Darker red on hover */
 }